{% extends 'base.html' %}

{% block content %}
<h2 align="center">List of departments</h2>
<div>
    <a role="button" href="/" class="btn btn-secondary">Back to jobs</a>
    {% if current_user.is_authenticated %}
    <a role="button" href="/adddepartment" class="btn btn-secondary">Add department</a>
    {% endif %}
</div>
{% for dep in departments %}
<h3>Department # {{ dep.id }}</h3>
<table class="table">
    <thead>
    <tr class="table-secondary">
        <th scope="col">Title of department</th>
        <th scope="col">Chief</th>
        <th scope="col">Members</th>
        <th scope="col">Department Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="table-primary">{{ dep.title }}</td>
        <td class="table-primary">{{ dep.users.name }}</td>
        <td class="table-primary" align="center">{{ dep.members }}</td>
        <td class="table-primary" align="center">{{ dep.email }}</td>
    </tr>
    </tbody>
</table>
{% if current_user.is_authenticated and current_user.id in (1, dep.chief) %}
<div>
    <a role="button" href="/editdepartment/{{dep.id}}" class="btn btn-warning">Edit department</a>
    <a role="button" href="/deletedepartment/{{dep.id}}" class="btn btn-danger">Delete department</a>
</div>
{% endif %}
{% endfor %}
{% endblock %}